<div class="nav">
  <div>
    <img class="logo" src="../../assets/logo.jpg">
  </div>
  <div id="btn">
    <a mat-button color="primary" routerLink=".">ENTRAR</a>
    <a mat-button color="primary" routerLink=".">REGISTRAR</a>
  </div>
</div>
<div class="home">
  <div class="image-container">
    <img class="image" src="../../assets/landing.png">
  </div>
  <div class="text-container">
    <div class="title">
      CAJU
    </div>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Quisque massa risus, vestibulum quis dui ut, pellentesque dignissim.
        Vestibulum quis dui ut, pellentesque dignissim!
    </div>
    <div class="container-newpj">
      <div class="text">
        Crie seu projeto!
      </div>
        <button mat-raised-button color="primary">COMEÇAR</button>
    </div>
  </div>
</div>